$btn-line-bg: #fff !default;
$btn-line-color: $secondary !default;

.btn-line {
  background-color: #606060;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 7px;
  &:hover {
    background-color: #181818;
    color: #A6A6A6;
    text-decoration: none;
  }
}

.btn-line-inversed {
  @include btn-line($btn-line-color, $btn-line-bg);
}

.btn-line-inversed:hover {
  background-color: $btn-line-color;
  color: $btn-line-bg;
  text-decoration: none;
}