$btn-dropdown-line-bg: #606060 !default;
$btn-dropdown-line-color: #606060!default;
$btn-dropdown-line-color-hover: #3C3C3C!default;
$btn-dropdown-line-font: #F6F7F9;

.btn-dropdown-line {
  @include btn-line($btn-dropdown-line-bg, $btn-dropdown-line-color, 14px);
  color: $btn-dropdown-line-font;
  outline: none !important;
  margin-right: 20px;
  &.no-rm {
    margin-right: 0;
  }

  &:hover {
    background-color: $btn-dropdown-line-color-hover;
    color: $btn-dropdown-line-font;
  }
}
